TyhjaProjekti/.gradle
TyhjaProjekti/build/

# Ignore Gradle GUI config
TyhjaProjekti/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
TyhjaProjekti/!gradle-wrapper.jar

# Cache of project
TyhjaProjekti/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/TyhjaProjekti/.nb-gradle/
/WebLogin/.nb-gradle/